<ion-header>
  <!-- <ion-toolbar>

    <div class="d-flex bd-highlight">
      <div class="p-2 w-100 bd-highlight"><ion-title>Photo Détails</ion-title></div>
      <div class="p-2 flex-shrink-1 bd-highlight"><button class="btn" (click)="retour()">Retour</button></div>
    </div>
  
  </ion-toolbar> -->

  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button (click)="retour()">Retour</ion-back-button>
    </ion-buttons>
    <ion-title class="text-center">Photo Détail</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="container-fluid">
  <ion-card>
    <img [src]="photo?.download_url" alt="" />
    <ion-card-content>
      <ion-card-title>
        {{photo?.author}}
      </ion-card-title>
      <p class="p-detail">
        <span>width:</span> {{photo?.width}}<br>
        <span>height:</span> {{photo?.height}}<br>
        <span>url:</span> {{photo?.url}}<br>
        <span>download_url:</span> {{photo?.download_url}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>